body {
    background-color: rgb(249, 242, 217);
}

.bold {
    font-weight: bold;
}

.body-container {
    width: 50%;
    font-size: 16px;
    line-height:1.25;
    padding-top:10px;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
    font-size: 20px;
}

.news {
    display: flex;
    align-items: left;
    padding-bottom: 20px;
}